.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  @include responsive;

  &__logo {
    color: $primary;
    font-size: 1.5rem;
    font-family: "Titillium Web", sans-serif;
  }
  &__links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    a {
      color: rgba(0,0,0,0.3);
      height: 100%;
      vertical-align: middle;
      cursor: pointer;
    }
    a.active {
      color: rgba(0,0,0,0.8);
    }
    img {
      height: 26px;
      border-radius: 50px;
      float: left;
      margin-right: 5px;
    }
  }
}