.setting-form {
  width: 70%;
  max-width: 540px;
  padding-top: 3rem;

  &__title {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
  }
}